@page
@model WebClient.Pages.khaothi.GradedModel
@{
}

<body>
    <h2 class="title">Grades for @Model.CourseName  - @Model.GradeName</h2>

    @if (!String.IsNullOrEmpty(Model.Msg))
    {
        <p class="error-message">@Model.Msg</p>
    }

    @if (Model.ListStudent != null && Model.ListStudent.Count > 0)
    {
        <div class="form-container">
            <form method="post">
                <input type="hidden" name="gradeId" value="@Model.GradeId" />
                <input type="hidden" name="gradeName" value="@Model.GradeName" />
                <input type="hidden" name="courseName" value="@Model.CourseName" />
                <table class="table">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Student Name</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ListStudent.Count; i++)
                        {
                            <tr>
                                <td>@Model.ListStudent[i].Id</td>
                                <td>@Model.ListStudent[i].Username</td>
                                <td>
                                    <input type="number" min="0" max="10" step="1" name="grades[@i]" value="@Model.GradeTable[i][0]"  />
                                    <input type="hidden" name="studentIds[@i]" value="@Model.ListStudent[i].Id" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>
    }
    else
    {
        <p>No students available for grading.</p>
    }

    <a asp-page="/khaothi/Index"
       class="back-link">
        Back
    </a>
</body>