@page
@model WebClient.Pages.khaothi.IndexModel
@{
}
<style>
    .table-custom {
        width: 80%; /* Tăng độ rộng của bảng */
        margin: auto; /* Canh giữa bảng */
        table-layout: auto; /* Tự động điều chỉnh độ rộng theo nội dung */
        border-collapse: collapse; /* Gộp các đường viền của bảng */
    }

        .table-custom th, .table-custom td {
            padding: 12px; /* Tăng khoảng cách giữa nội dung và đường viền */
            text-align: left;
            border: 1px solid #ddd; /* Thêm đường viền cho các ô */
        }




</style>

<h2 class="title">Graded</h2>

@if (Model.ListGrade != null && Model.ListGrade.Count > 0)
{
    <table class="table table-custom">
        <thead>
            <tr>
                <th style="width: 70%;">Grade Name</th>
                <th style="width: 30%;">Completion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grade in Model.ListGrade)
            {
                <tr>
                    <td>
                        <a asp-page="/khaothi/Graded"
                           asp-route-gradeId="@grade.Id"
                           asp-route-courseId="@grade.CourseId"
                           asp-route-courseName="@grade.CourseName"
                           asp-route-gradeName="@grade.Name"
                           title="Graded for this grade">
                            @grade.Name - @grade.CourseName
                        </a>
                    </td>

                    <td>@grade.Completed (@grade.PercentCompleted%)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no grade for graded.</p>
}


