@page
@model WebClient.Pages.student.IndexModel
@{
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor HttpContextAccessor;
@using Newtonsoft.Json
@using WebClient.DTO.User;
@{
    var json = HttpContextAccessor.HttpContext.Session.GetString("currentUser");
    var user = json != null ? JsonConvert.DeserializeObject<GetUserDTO>(json) : null;
    var sessionTitle = user != null ? $"List of {user.Username}'s Session" : "Session List";

}

<h2>@sessionTitle</h2>

@if (Model.ListSession != null && Model.ListSession.Count > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th> Session Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var session in Model.ListSession)
            {
                <tr>
                    <td>
                        <a asp-page="/student/ViewGrade"
                           asp-route-sessionId="@session.Id"
                           asp-route-courseId="@session.CourseId"
                           asp-route-courseName="@session.CourseName"
                           asp-route-className="@session.ClassName"
                           asp-route-teacherName="@session.TeacherName"
                           title="View Grade">
                            @session.ClassName - @session.CourseName - @session.TeacherName
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no sessions.</p>
}
