@page
@model WebClient.Pages.student.ViewGradeModel
@inject IHttpContextAccessor HttpContextAccessor;
@using Newtonsoft.Json
@using WebClient.DTO.User;
@{
    var json = HttpContextAccessor.HttpContext.Session.GetString("currentUser");
    var user = json != null ? JsonConvert.DeserializeObject<GetUserDTO>(json) : null;
    var sessionTitle = user != null ? $"List of {user.Username}'s Session" : "Session List";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Table</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 1em;
            font-family: Arial, sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .passed {
            color: green;
        }

        .not-passed {
            color: red;
        }

        thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }

        th, td {
            padding: 12px 15px;
            border: 1px solid #ddd;
        }

        tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        tbody tr:hover {
            background-color: #f1f1f1;
        }

        tbody td {
            text-align: left;
        }

        tfoot tr {
            font-weight: bold;
            text-align: left;
        }

        tfoot td {
            padding: 12px 15px;
            border: 1px solid #ddd;
        }

            tfoot td[colspan="3"] {
                text-align: center;
            }

        .status {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="d-flex justify-content-center mt-3">
        <div>
            <h2 class="title">@sessionTitle</h2>

            @if (Model.ListSession != null && Model.ListSession.Count > 0)
            {
                <table class="table-custom">
                    <thead>
                        <tr>
                            <th> Session Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var session in Model.ListSession)
                        {
                            <tr>
                                <td class="session text-primary">
                                    <a asp-page-handler="Grade"
                               asp-route-sessionId="@session.Id"
                               asp-route-courseId="@session.CourseId"
                               asp-route-courseName="@session.CourseName"
                               asp-route-className="@session.ClassName"
                               asp-route-teacherName="@session.TeacherName"
                               title="View Grade">
                                        @session.ClassName - @session.CourseName - @session.TeacherName
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>There are no sessions.</p>
            }
            
        </div>
        @if (Model.SessionId != null && Model.CourseId != null && Model.CourseName != null && Model.ClassName != null && Model.TeacherName != null)
        {
            <div class="ms-3">
                <div>
                    <a class="export-link" asp-page-handler="ExportExcel"
                   asp-route-courseId="@Model.CourseId"
                   asp-route-courseName="@Model.CourseName">
                        Export to Excel
                    </a>
                </div>
                <table summary="Report">
                    <thead>
                        <tr>
                            <th>Grade category</th>
                            <th>Grade item</th>
                            <th>Weight</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ViewGrade.GradeTypes.Count; i++)
                        {
                            var gradeType = Model.ViewGrade.GradeTypes[i];
                            for (int j = 0; j < gradeType.Grades.Count; j++)
                            {
                                var grade = gradeType.Grades[j];
                                if (j == 0)
                                {
                                    <tr>
                                        <td rowspan="@(gradeType.Grades.Count)">@gradeType.GradeTypeName</td>
                                        <td>@grade.GradeName</td>
                                        <td>@grade.Weight %</td>
                                        <td>@grade.Value</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>@grade.GradeName</td>
                                        <td>@grade.Weight %</td>
                                        <td>@grade.Value</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td rowspan="2">Course total</td>
                            <td>Average</td>
                            <td colspan="3">@Model.Avg</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td colspan="3" class="status">
                                @if (Model.Status.isPass)
                                {
                                    <span class="passed">PASSED</span>
                                }
                                else
                                {
                                    <span class="not-passed">NOT PASSED</span>
                                    @*  <br />
                            <span>@Model.Status.msg</span> *@
                                }
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            
        }
    </div>

    <a class="back-link" asp-page="/student/Index">
        Back
    </a>

</body>
</html>